
@{
    ViewData["Title"] = "GetCityDestId";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"><a href="/Admin/Destination/Index">Tur Rotaları</a></span>/ Oteller için Şehir Id'sini Adı ile Getirme</h4>
    <div class="col-md-12">
        <div class="card mb-4">
            <h5 class="card-header">Oteller için Şehir Id'sini Adı ile Getirme</h5>
            <div class="card-body">
                <form method="post">
                    <div>
                        <label class="form-label">ŞEHİR ADINI GİRİNİZ</label>
                        <input type="text" class="form-control" name="p"/>
                    </div>
                    <br />
                    <button class="btn btn-primary">Şehir Id Getir</button>
                </form>
            </div>
        </div>
    </div>
</div>
