@model _71MY_TraversalCore.CQRS.Commands.DestinationCommands.AddDestinationCommand
@{
    ViewData["Title"] = "AddDestination";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"><a href="/Admin/Destination/Index">Tur Rotaları</a></span>/ Yeni Rota Ekleme Sayfası</h4>
    <div class="col-md-12">
        <div class="card mb-4">
            <h5 class="card-header">Yeni Rota Ekle</h5>
            <div class="card-body">
                <form method="post">
                    <div>
                        <label class="form-label">ŞEHİR</label>
                        <input type="text" class="form-control" asp-for="City" />
                    </div>
                    <br />
                    <div>
                        <label class="form-label">GECE GÜN</label>
                        <input type="text" class="form-control" asp-for="DayNight" />
                    </div>
                    <br />
                    <div>
                        <label class="form-label">FİYAT</label>
                        <input type="text" class="form-control" asp-for="Price" />
                    </div>                    
                    <br />
                    <div>
                        <label class="form-label">KAPASİTE</label>
                        <input type="text" class="form-control" asp-for="Capacity" />
                    </div>
                    <br />
                    <button class="btn btn-primary">Oluştur</button>
                </form>
            </div>
        </div>
    </div>
</div>
