@model IEnumerable<ExchangeAPIViewModel2.Exchange_Rates>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"><a href="/Admin/Dashboard/Index">Dashboard</a></span>/ Kur Bilgileri</h4>
    <div class="card">
        <h5 class="card-header">Kur Bilgileri</h5>
        <div class="table-responsive text-nowrap">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>KUR ADI</th>
                        <th>KUR ORANI</th>                       
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.currency</td>
                            <td>@item.exchange_rate_buy</td>                            
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
