
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Pdf Raporları Sayfası</h3>

<a href="/Admin/PDFReport/StaticPDFReport" class="btn btn-primary">Statik PDF Raporu Al</a>

