@model AddRoleViewModel
@{
    ViewData["Title"] = "AddRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"><a href="/Admin/Role/Index">Rol Listesi</a></span>/ Yeni Rol Ekleme Sayfası</h4>
    <div class="col-md-12">
        <div class="card mb-4">
            <h5 class="card-header">Yeni Rol Ekle</h5>
            <div class="card-body">
                <form method="post">
                    <div>
                        <label class="form-label">ROL ADI</label>
                        <input type="text" class="form-control" asp-for="RoleName" />
                    </div>                    
                    <br />
                    <button class="btn btn-primary">Oluştur</button>
                </form>
            </div>
        </div>
    </div>
</div>
