@using EntityLayer.Concrete
@model List<Destination>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"><a href="/Admin/Dashboard/Index">Dashboard</a></span>/ Tur Rotaları</h4>
    <div class="card">
        <h5 class="card-header">Tur Rotaları</h5>
        <div class="table-responsive text-nowrap">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>ŞEHİR</th>
                        <th>FİYAT</th>
                        <th>KAPASİTE</th>
                        <th>SİTEDE GÖR</th>
                        <th>SİL</th>
                        <th>GÜNCELLE</th>                        
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.DestinationId</td>
                            <td>@item.City</td>
                            <td>@item.Price</td>
                            <td>@item.Capacity</td>
                            <td><a href="/Destination/DestinationDetails/@item.DestinationId" class="btn btn-outline-info">Sitede Gör</a></td>
                            <td><a href="/Admin/Destination/DeleteDestination/@item.DestinationId" class="btn btn-outline-danger">Sil</a></td>
                            <td><a href="/Admin/Destination/UpdateDestination/@item.DestinationId" class="btn btn-outline-warning">Güncelle</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <br />
            <a href="/Admin/Destination/AddDestination" class="btn btn-primary">Yeni Rota Ekle</a>
        </div>
    </div>
</div>
