@model EntityLayer.Concrete.Destination
@{
    ViewData["Title"] = "UpdateDestination";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"><a href="/Admin/Destination/Index">Tur Rotaları</a></span>/ Rota Düzenleme Sayfası</h4>
    <div class="col-md-12">
        <div class="card mb-4">
            <h5 class="card-header">Rota Düzenleme</h5>
            <div class="card-body">
                <form method="post">
                    <div>
                        <label class="form-label">ID</label>
                        <input type="text" class="form-control" asp-for="DestinationId" readonly/>
                    </div>
                    <br />
                    <div>
                        <label class="form-label">ŞEHİR</label>
                        <input type="text" class="form-control" asp-for="City" />
                    </div>
                    <br />
                    <div>
                        <label class="form-label">GECE GÜN</label>
                        <input type="text" class="form-control" asp-for="DayNight" />
                    </div>
                    <br />
                    <div>
                        <label class="form-label">FİYAT</label>
                        <input type="text" class="form-control" asp-for="Price" />
                    </div>
                    <br />
                    <div>
                        <label class="form-label">GÖRSEL URL</label>
                        <input type="text" class="form-control" asp-for="Image" />
                    </div>
                    <br />
                    <div>
                        <label class="form-label">KAPASİTE</label>
                        <input type="text" class="form-control" asp-for="Capacity" />
                    </div>
                    <br />
                    <div>
                        <label class="form-label">KAPAK GÖRSELİ URL</label>
                        <input type="text" class="form-control" asp-for="CoverImage" />
                    </div>
                    <br />
                    <div>
                        <label class="form-label">GÖRSEL 2</label>
                        <input type="text" class="form-control" asp-for="Image2" />
                    </div>
                    <br />
                    <div>
                        <label class="form-label">AÇIKLAMA</label>
                        <textarea class="form-control" rows="5" asp-for="Description"></textarea>
                    </div>
                    <br />
                    <div>
                        <label class="form-label">DETAY 1</label>
                        <textarea class="form-control" rows="5" asp-for="Details1"></textarea>
                    </div>
                    <br />
                    <div>
                        <label class="form-label">DETAY 2</label>
                        <textarea class="form-control" rows="5" asp-for="Details2"></textarea>
                    </div>
                    <br />
                    <button class="btn btn-primary">Güncelle</button>
                </form>
            </div>
        </div>
    </div>
</div>